
/* 	Global styles, yeah?
/* ======================================= */

* {
	@include box-sizing( border-box );
}

body, html {
	position: relative;
	display: block;
	min-height: 100%;
}

#wrapper {
	display: block;
	min-height: 400px;
	padding-bottom: 70px;
}

/*	Core Elements
/* ======================================= */

.flickr-loading-bar {
	display: block;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 0%;
	height: 6px;
	background: #2ecc71;
	z-index: 999;
	@include transition( width .3s ease-out );

	&.show {
		top: 0px;
	}
}

.flickr-search-wrapper {
	position: relative;
	display: block;
	width: 220px;
	height: 32px;
	
	input[type=text] {
		border: none;
		outline: none;
		padding: 4px;
		color: #333;
		width: 100%;
		height: 100%;
		display: block;
		@include border-radius( 0px );
	}

	button {
		display: block;
		padding: 0;
		margin: auto 0;
		position: absolute;
		right: 8px;
		top: 0px;
		bottom: 0px;
		color: #7f8c8d;
		font-size: 18px;
		height: 18px;
		outline: none;
		border: none;
		background: transparent;
		cursor: pointer;
		@include border-radius(0px);
		@include transition( color .1s ease-out );

		&:hover, &:active, &:focus {
			color: $orange;
		}
	}
}

.full-width {
	display: block;
	position: relative;

	width: 100%;
	max-width: 1080px;

	margin: 0 auto;
}


header {
	display: block;
	position: relative;
	max-width: 1080px;
	width: 100%;

	background: $orange;
	color: #fff;

	padding: 30px 0;
	margin: 0px auto 30px auto;

	.flickr-search-wrapper {
		position: absolute;
		right: 20px;
		margin: auto;
		top: 0px;
		bottom: 0px;
	}
}

.flickr-masthead {
	height: 320px;
	margin: 0 0 30px 0;

	overflow: hidden;

	img {
		display: block;
		position: absolute;

		width: 100%;

		left: 0;
		top: 0;
		right: 0;
		bottom: 0;

		margin: auto;
	}
}



.flickr-grid {
	color: #555555;

	h2 {
		margin: 0 0 22px 0;
	}
	
	.flickr-search-wrapper {
		margin: 0 auto;
		border: 1px solid #7f8c8d;

		width: 300px;
		height: 42px;
	}

	.item {
		width: 20%;
		position: relative;
		float: left;
		cursor: pointer;

		&:before {
			content: "";
			display: block;
			padding-top: 100%; 	/* initial ratio of 1:1*/			
			background: $orange image-url('loader.gif') center center no-repeat;
			background-size: 32px auto;
		}

		&:after {
			content: "";
			pointer-events: none;
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: transparent;
			@include transition( background .1s ease-out );
		}

		&:hover, &:focus, &:active {
			&:after {
				background: rgba(255,255,255,0.1);
			}
		}

		&.hidden {
			display: none;
		}
	}

	img {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		
		&.hidden {
			display: none;
		}
	}
}

#flickr-lightbox {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: none;
	cursor: pointer;

	background: #000;
	background: rgba(0,0,0,0.5);

	&.visible {
		display: block;
	}
	
	img {
		display: block;
		max-width: 80%;
		max-height: 80%;

		min-width: 60px;
		min-height: 60px;

		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;

		@include box-shadow( 0px 0px 6px rgba(0,0,0,0.4) );
		background: $orange image-url('loader.gif') center center no-repeat;
		background-size: 32px auto;
	}
}

footer {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 1080px;
	width: 100%;

	background: $orange;
	color: #fff;

	padding: 30px 0;
	margin: 30px auto;

	p {
		text-align: center;
		font-size: 14px;

		a {
			color: #fff;
			text-decoration: none;
			@include transition( color .1s ease-out );

			&:hover, &:active, &:focus {
				border: none;
				outline: none;
				text-decoration: none;
				color: black;
			}
		}
	}
}