
/* 	Mobile styles, yeah?
/* ======================================= */

header {
	
	h1 {
		text-align: center;
		display: block;
	}
	
	.flickr-search-box {
		display: block;
		position: relative;
		right: 0;
		margin: 12px auto;
	}
}

.flickr-grid {
	.item {
		width: 33.3333%;
	}
}