
/* 	Fonts and that, yeah?
/* ======================================= */

.f-thin {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}
.f-light {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
.f-regular {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.f-bold {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}
.f-extrabold {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}
.f-uppercase {
	text-transform: uppercase;
}


h1 {
	font-size: 32px;
	text-align: center;
}

h2 {
	font-size: 28px;
	text-align: center;
}