/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 	Base styles, yeah?
/* ======================================= */
/* 	Fonts and that, yeah?
/* ======================================= */
/* line 5, ../../../scss/partials/_typography.scss */
.f-thin {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

/* line 9, ../../../scss/partials/_typography.scss */
.f-light {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

/* line 13, ../../../scss/partials/_typography.scss */
.f-regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

/* line 17, ../../../scss/partials/_typography.scss */
.f-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

/* line 21, ../../../scss/partials/_typography.scss */
.f-extrabold {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

/* line 25, ../../../scss/partials/_typography.scss */
.f-uppercase {
  text-transform: uppercase;
}

/* line 30, ../../../scss/partials/_typography.scss */
h1 {
  font-size: 32px;
  text-align: center;
}

/* 	Global styles, yeah?
/* ======================================= */
/* line 5, ../../../scss/partials/_global.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../../../scss/partials/_global.scss */
header {
  display: block;
  position: relative;
  max-width: 1080px;
  width: 100%;
  background: #f9672c;
  color: #fff;
  padding: 30px 0;
  margin: 30px auto;
}
/* line 21, ../../../scss/partials/_global.scss */
header input[type=text] {
  border: none;
  outline: none;
  padding: 4px;
  margin: 0;
  position: absolute;
  color: #333;
  width: 220px;
  height: 32px;
  right: 20px;
  margin: auto;
  top: 0px;
  bottom: 0px;
}

/* line 37, ../../../scss/partials/_global.scss */
.full-width {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

/* line 47, ../../../scss/partials/_global.scss */
.flickr-masthead {
  height: 320px;
  margin: 0 0 30px 0;
  overflow: hidden;
}
/* line 53, ../../../scss/partials/_global.scss */
.flickr-masthead img {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* line 70, ../../../scss/partials/_global.scss */
.flickr-grid .item {
  width: 20%;
  position: relative;
  float: left;
}
/* line 74, ../../../scss/partials/_global.scss */
.flickr-grid .item:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/
  background: #f9672c url('../img/loader.gif?1387058518') center center no-repeat;
  background-size: 32px auto;
}
/* line 83, ../../../scss/partials/_global.scss */
.flickr-grid img {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

@media screen and (max-width: 767px) {
  /* 	Mobile styles, yeah?
  /* ======================================= */
}
@media screen and (max-width: 959px) {
  /* 	Tablet styles, yeah?
  /* ======================================= */
}
@media screen and (min-width: 960px) {
  /* 	Desktop styles, yeah?
  /* ======================================= */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* 	Hi-def styles, yeah?
  /* ======================================= */
}
/* ========================
     _                                        
 ___| |__   __ _ _ __ ___   ___   ___ ___ ___ 
/ __| '_ \ / _` | '_ ` _ \ / _ \ / __/ __/ __|
\__ \ | | | (_| | | | | | |  __/| (__\__ \__ \
|___/_| |_|\__,_|_| |_| |_|\___(_)___|___/___/
                                              
/* ======================== */
/* 	Shameful styles, yeah?
/* ======================================= */
